footer ul {
  list-style: none;
}
footer ul li > a {
  text-decoration: none;
  color: #858585;
}
footer #upper-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 15px;
  background-color: darkgrey;
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer #upper-footer nav {
  display: flex;
  align-content: center;
  flex-basis: 30%;
  padding-left: 20px;
}
footer #upper-footer nav .col {
  padding: 10px;
}
footer #upper-footer nav .col h4 {
  color: #fff;
  padding: 10px 0;
}
footer #upper-footer nav .col li {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}
footer #upper-footer div {
  height: 350px;
  position: relative;
  flex-basis: 50%;
}
footer #upper-footer div img {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
footer #lower-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 155px;
  background-color: #303030;
}
footer #lower-footer button {
  padding: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: 3.5px solid #0282f9;
}
footer #lower-footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #lower-footer nav h4 {
  color: #0282f9;
  padding-right: 20px;
}
footer #lower-footer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #lower-footer nav ul .social-logo {
  padding: 5px;
}

header ul {
  list-style: none;
}
header ul a {
  color: black;
  text-decoration: none;
}
header .top-navbar {
  background-color: #0282f9;
}
header .top-navbar ul {
  display: flex;
  justify-content: flex-end;
  padding: 2.5px;
}
header .top-navbar ul li {
  padding-right: 15px;
}
header .top-navbar ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
header .main-navbar {
  height: 120px;
  background-color: white;
}
header .main-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
header .main-navbar ul li {
  display: inline-block;
  padding: 10px 0;
  margin: 0 10px;
  height: 100%;
  border-bottom: 5px solid transparent;
}
header .main-navbar ul li img {
  height: 100%;
}
header .main-navbar ul li a {
  display: inline-block;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  height: 100%;
  line-height: 96px;
}
header .main-navbar ul li.active {
  border-color: #0282f9;
}
header .main-navbar ul li.active a {
  color: #0282f9;
}
header .main-navbar ul li.searchbar {
  display: flex;
  align-items: center;
}
header .main-navbar ul li.searchbar input {
  border: none;
  border-bottom: 2px solid #0282f9;
  text-align: end;
}

.comics-section #jumbotron {
  background-image: url("../images/jumbotron.jpg");
  background-position: top;
  background-repeat: no-repeat;
  height: 400px;
}
.comics-section #main-content {
  position: relative;
  padding: 40px 150px;
  background-color: #1c1c1c;
  color: #fff;
}
.comics-section #main-content .label {
  position: absolute;
  top: -12.5px;
  height: 40px;
  display: inline-block;
  background-color: #0282f9;
  padding: 0 15px;
}
.comics-section #main-content .label h4 {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 40px;
}
.comics-section #main-content .comic-container {
  display: flex;
  flex-wrap: wrap;
}
.comics-section #main-content .comic-container .comic-cover {
  flex-basis: 16.6666666667%;
  padding: 10px;
  margin-bottom: 15px;
}
.comics-section #main-content .comic-container .comic-cover a {
  color: white;
  text-decoration: none;
}
.comics-section #main-content .comic-container .comic-cover a img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.comics-section #main-content .comic-container .comic-cover a p {
  font-size: 0.8rem;
  font-weight: 600;
}
.comics-section #main-content button {
  color: #fff;
  background-color: #0282f9;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 10px 50px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.single-comic #jumbotron {
  background-image: url("../images/jumbotron.jpg");
  background-position: top;
  background-repeat: no-repeat;
  height: 400px;
}
.single-comic .blue-band {
  position: relative;
  height: 75px;
  background-color: #0282f9;
}
.single-comic .blue-band figure {
  position: absolute;
  bottom: 20px;
  left: 30%;
  transform: translateX(-50%);
}
.single-comic .main-content .comic-description {
  display: flex;
  padding: 50px 175px 0;
}
.single-comic .main-content .comic-description .left-side {
  padding-right: 25px;
  padding-bottom: 25px;
}
.single-comic .main-content .comic-description .left-side h2 {
  padding-top: 1.5rem;
}
.single-comic .main-content .comic-description .left-side .availability {
  display: flex;
  background-color: #55ba59;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 0.5px solid black;
  justify-content: space-between;
  margin: 15px 0;
}
.single-comic .main-content .comic-description .left-side .availability .status {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 5px;
}
.single-comic .main-content .comic-description .left-side .availability .status p {
  text-transform: uppercase;
  font-weight: 600;
}
.single-comic .main-content .comic-description .left-side .availability .check {
  padding: 5px;
  border-left: 0.5px solid black;
  cursor: pointer;
}
.single-comic .main-content .comic-description .left-side .availability .check p {
  font-weight: 600;
}
.single-comic .main-content .comic-description .right-side h3 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: right;
}
.single-comic .main-content .comic-spec {
  display: flex;
  padding: 0 175px 50px;
  background-color: #f6f6f6;
}
.single-comic .main-content .comic-spec h2 {
  padding: 50px 0;
  border-bottom: 1px solid lightgrey;
}
.single-comic .main-content .comic-spec a {
  color: #0282f9;
  text-decoration: none;
}
.single-comic .main-content .comic-spec p {
  text-align: end;
}
.single-comic .main-content .comic-spec .left-side {
  flex-basis: 50%;
  padding-right: 7.5px;
}
.single-comic .main-content .comic-spec .left-side div {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
}
.single-comic .main-content .comic-spec .left-side div h5 {
  flex-basis: 110px;
}
.single-comic .main-content .comic-spec .left-side div p {
  flex-basis: calc(100% - 110px);
  font-size: 0.8rem;
  font-weight: 600;
}
.single-comic .main-content .comic-spec .right-side {
  flex-basis: 50%;
  padding-left: 7.5px;
}
.single-comic .main-content .comic-spec .right-side div {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
}
.single-comic .main-content .comic-spec .right-side div h5 {
  flex-basis: 150px;
}
.single-comic .main-content .comic-spec .right-side div p {
  text-transform: uppercase;
  font-weight: 600;
}

* {
  font-family: "Roboto", sans-serif;
}