
.single-comic{

    #jumbotron{
        background-image: url("../images/jumbotron.jpg");
        background-position: top;
        background-repeat: no-repeat;
        height: 400px;
    }
    
    .blue-band{
        position: relative;
        height: 75px;
        background-color: $mainBlueColor;
        figure{
            position: absolute;
            bottom: 20px;
            left: 30%;
            transform: translateX(-50%);
        }
    }

    .main-content{
        padding: 50px 175px;
        
        .comic-description{
            
            display: flex;

            .left-side{
                
                padding-right: 25px;

                .availability{
                    display: flex;
                    background-color: $availableColor;
                    color: lighten($availableColor, $amount: 30%);
                    border-bottom: 0.5px solid black ;
                    justify-content: space-between;
                    
                    .status{
                        display: flex;
                        justify-content: space-between;
                        flex-grow: 1;
                        padding: 5px;
                        p{
                            text-transform: uppercase;
                            font-weight: 600;
                        }

                        
                    }
                    .check{
                        padding: 5px;
                        border-left: 0.5px solid black;
                        cursor: pointer;

                        p{
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .comic-spec{
            display:flex;

            .left-side,
            .right-side{
                flex-basis: calc(100% / 2);
                a{
                    color: mainBlueColor;
                    text-decoration: none;
                }

            }
            
            .left-side{

                div{
                    display: flex;
    
                    h5{
                        display: inline-block;
                        width: 100px;
                    }
                }

            }
            

        }
        
    }
}